<%= simple_form_for(@restaurant) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :stars, collection: (1..5), as: :radio_buttons, wrapper_html: { class: 'red' } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>