<p id="notice"><%= notice %></p>
<h1>Restaurants</h1>
<%= render 'restaurant_list' %>
<br>
<%= link_to "See the top restaurants", top_restaurants_path %> | 
<%= link_to "See the worst restaurants" , worst_restaurants_path  %> | 
<%= link_to 'New Restaurant', new_restaurant_path %>